.NavBar{
    /* border: solid 1px white; */
    width:95%;
    margin: 1.1rem auto;
}
.NavBar_Box{
    /* border: solid 1px rgb(36, 131, 226); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.NavBar_Box_left{
    /* border: solid 1px rgb(90, 226, 62); */
    display: flex;
    gap: 4rem;
    align-items: center;
    padding-left: 0.75rem;
}
.NavBar_Box_left_menu{
    /* border: solid 1px wheat; */
    display: flex;
    gap: 3rem;
    align-items: center;
}
.NavBar_Box_left_menu_item{
    font-size: 1.3rem;
    color: #6690FF;
}
.NavBar_Box_middle{
    /* border: solid 1px rgb(229, 213, 46); */
    background-color: #1e1e1e;
    width: 80%;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}
.NavBar_Box_middle_search{
    /* border: solid 1px rgb(229, 213, 46);  */
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* padding: 0 auto; */
}
.NavBar_Box_middle_search_input input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: #6690FF;
}
.NavBar_Box_right{
    /* border: solid 1px rgb(90, 226, 62); */
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
    /* padding: 0 auto; */
}
.NavBar_Box_right_box{
    /* border: solid 1px rgb(244, 140, 36); */
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #1e1e1e;
}
.NavBar_Box_right_box p{
    /* border: solid 1px rgb(244, 140, 36); */
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 0;
    color: #6690FF;
}
.NavBar_Box_right button{
    background-color: #1e1e1e;
    outline: none;
    border: none;
    color: #6690FF;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}
@media only screen and (max-width: 35em){
    .NavBar{
        width: 90%;
    }
    .NavBar_Box{
        grid-template-columns: .5fr 1fr;
    }
    .NavBar_Box_middle{
        border: solid 1px rgb(229, 213, 46);
        display: none;
    }
    .NavBar_Box_left_menu{
        display: none;
    }
    .NavBar_Box_right_box{
        display: none;
    }
}
