.SearchToken{
    /* border: solid 1px yellow; */
    border-radius: .5em;
    position: absolute;
    width: 90%;
    padding-top: 5.25em;
    text-align: center;
    display: flex;
    justify-content: center;
}
.SearchToken_Box{
    /* border: solid 1px yellow; */
    border-radius: .5em;
    /* position: absolute; */
    /* width: 3em; */
    height: 20em;
    background-color: #1e1e1e;
    padding: 1em 1em 1em 1em;
}
.SearchToken_Box_heading{
    /* border: solid 1px yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em auto;
}
.SearchToken_Box_heading  h4{
    /* border: solid 1px yellow; */
    font-size: 1.25em;
    font-weight: 400;
    line-height: 0;
}
.SearchToken_Box_heading Image{
    cursor: pointer;
}
.SearchToken_Box_search{
    border: solid 1px #6690ff;
    border-radius: .5em;
    margin: 1em auto;
    display: flex;
    align-items: center;
    gap: 1em;
}
.SearchToken_Box_search_img{
    display: flex;
    align-items: center;
    padding-left: 1em;
}
.SearchToken_Box_search input{
    background-color: transparent;
    border: 0;
    border-radius: .5em;
    outline: 0;
    width: 80%;
    padding: 1em;
    color: #6690ff;
    font-weight: 80;
}
.SearchToken_Box_tokens{
    /* border: solid 1px yellow; */
    border-radius: .5em;
    background-color: #212324;
    margin-top: 1em;
    padding: .5em .5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.SearchToken_Box_tokens span{
    /* border: solid 1px yellow; */
    border-radius: 0.8em;
    border: solid 1px #6690ff;
    font-weight: 500;
    padding: .5em;
    margin: .5em;
    display: flex;
    align-items: center;
    gap: .7em;
    width: 5.7em;
    line-height: 0;
    cursor: pointer;
}
.active{
    background-color: #6690ff;
    color: #1e1e1e;
}

@media only screen and (max-width: 35em) {
    .SearchToken{
        /* border: solid 1px yellow; */
        width: 90%;
        z-index: 111111111;
    }
    .SearchToken_Box{
        /* width: 100%; */
    }
    .SearchToken_Box_tokens{
        display: flex;
        flex-wrap: wrap;
    }
}